1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

a) * 

It is an expression

b) 'hello'

It is a value (string)

c) -87.8

It is a value (integer)

d) - 

It is an expression

e) / 

It is an expression

f) +

It is an expression

g) 6

It is a value (integer)

 2. What is the difference between string and variable?
 
String is simply a type of information we want to store or use. Whereas, variables are capable of storing/holding these information for us.

Example:
if we write 'Hello!!' it is a string value but if we write:

a = 'Hello!!' then we are storing string (Hello!) in a variable (a).

3. Describe three different data types.

String: the datatype used for characters and the characters are enclosed in single-quotes, or double-qoutes.

List: this datatype provides the freedom to store multiple data in one variable. The format for the same is: [1,2,3,4]

Boolean: this datatype is used to determine if a condition is True or False. Ex: 2>5 is False if we check:

In [3]:
a= 2>5

In [4]:
a

False

In [5]:
type(a)

bool

4. What is an expression made up of? What do all expressions do? 

An expression is a set of operators and values that are combined to generate a different value.
Ex:
     2 + 2 (values= 2, operator= +)
     
     result: 4 (generated value)

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

expression is a process in which we perform certain calculations whihc leads to generation of a result value.
ex:
        2*8 (expression)
output: 16

statement can be stating an expression as well as just stating a value. 
ex:
        a = 8
        print(a)
output: 8

6. After running the following code, what does the variable bacon contain?

In [11]:
bacon = 22

In [12]:
bacon + 1

23

The output will be 22 + 1 = 23

as we have integer value in the variable adding 1 will lead to simple addition in the integer value.

7. What should the values of the following two terms be?

It will be same 
'spam' + 'spamspam' : 'spamspamspam'
'spam' * 3 : 'spamspamspam'

In [13]:
'spam' + 'spamspam'

'spamspamspam'

In [14]:
'spam' * 3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

The variables cannot have only integer values but if we want to include integer in the variable name we can try using a string value followed by an integer. The variable names should be different than the literal values.

In [15]:
100 = 2+4

SyntaxError: cannot assign to literal (Temp/ipykernel_1364/3507547406.py, line 1)

 9. What three functions can be used to get the integer, floating-point number, or string version of a value?
 
 str(): for string
 int(): for integer
 float(): for float

10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

You can simply add single-qoutes to the integer 99:

'I have eaten ' + '99' + ' burritos.'

As addition cannot take place between different datatypes.

In [17]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'