In [1]:
! pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in d:\data_science\env\lib\site-packages (8.0.29)
Requirement already satisfied: protobuf>=3.0.0 in d:\data_science\env\lib\site-packages (from mysql-connector-python) (4.21.1)

In [2]:
! pip install tabulate

Requirement already satisfied: tabulate in d:\data_science\env\lib\site-packages (0.8.10)

In [3]:
import mysql.connector

In [4]:
from tabulate import tabulate

In [5]:
conn = mysql.connector.connect(user='root',password='adi@1234',database='assignment')

In [6]:
cursor = conn.cursor()

In [7]:
cursor.execute("select * from workers")
result = cursor.fetchall()

print(tabulate(result, headers=['Worker_id', 'FirstName', 'SecondName', 'City', 'Email', 'Dept', 'Salary', 'JoiningDate'], tablefmt='psql'))

+-------------+-------------+--------------+----------+--------------------+---------+----------+---------------------+
|   Worker_id | FirstName   | SecondName   | City     | Email              | Dept    |   Salary | JoiningDate         |
|-------------+-------------+--------------+----------+--------------------+---------+----------+---------------------|
|           1 | Akash       | Malik        | Delhi    | akash123@gmail.com | HR      |    45000 | 2021-02-20 09:00:00 |
|           2 | Aka         | Ma           | Noida    | aka@gmail.com      | Admin   |    30000 | 2021-06-01 09:00:00 |
|           3 | Jay         | Singh        | Delhi    | jay@gmail.com      | Admin   |    45000 | 2022-01-15 09:00:00 |
|           4 | Ankita      | Jain         | Gurugram | anki@gmail.com     | Account |    40000 | 2022-02-20 09:00:00 |
|           5 | Pooja       | Patil        | Delhi    | pooja@gmail.com    | IT      |    40000 | 2022-02-01 09:00:00 |
|           6 | Anju        | Tomar        | Noida    | anju@gmail.com     | HR      |    45000 | 2022-04-10 09:00:00 |
|           7 | Kaira       | Singh        | Delhi    | kaira@gmail.com    | Account |    30000 | 2022-02-20 09:00:00 |
+-------------+-------------+--------------+----------+--------------------+---------+----------+---------------------+

In [8]:
cursor.execute("CREATE TABLE assignment.worker_dup AS SELECT * FROM assignment.workers")

Q-1. Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias name as <WORKER_NAME>.

In [9]:
cursor.execute("select First_name as Worker_name from worker_dup")
result = cursor.fetchall()

print(tabulate(result, headers=['Worker_Name'],tablefmt='psql'))

+---------------+
| Worker_Name   |
|---------------|
| Akash         |
| Aka           |
| Jay           |
| Ankita        |
| Pooja         |
| Anju          |
| Kaira         |
+---------------+

Q-2. Write an SQL query to fetch unique values of DEPARTMENT from Worker table.

In [10]:
cursor.execute("select distinct Department from worker_dup")
result = cursor.fetchall()

print(tabulate(result, headers=['Department'], tablefmt='psql'))

+--------------+
| Department   |
|--------------|
| HR           |
| Admin        |
| Account      |
| IT           |
+--------------+

Q-3. Write an SQL query to show the last 5 record from a table.

In [11]:
query = """SELECT * FROM worker_dup ORDER BY worker_id DESC LIMIT 5;"""

cursor.execute(query)

In [12]:
result = cursor.fetchall()

print(tabulate(result, headers=['Worker_id', 'FirstName', 'SecondName', 'City', 'Email', 'Dept', 'Salary', 'JoiningDate'], tablefmt='psql'))

+-------------+-------------+--------------+----------+-----------------+---------+----------+---------------------+
|   Worker_id | FirstName   | SecondName   | City     | Email           | Dept    |   Salary | JoiningDate         |
|-------------+-------------+--------------+----------+-----------------+---------+----------+---------------------|
|           7 | Kaira       | Singh        | Delhi    | kaira@gmail.com | Account |    30000 | 2022-02-20 09:00:00 |
|           6 | Anju        | Tomar        | Noida    | anju@gmail.com  | HR      |    45000 | 2022-04-10 09:00:00 |
|           5 | Pooja       | Patil        | Delhi    | pooja@gmail.com | IT      |    40000 | 2022-02-01 09:00:00 |
|           4 | Ankita      | Jain         | Gurugram | anki@gmail.com  | Account |    40000 | 2022-02-20 09:00:00 |
|           3 | Jay         | Singh        | Delhi    | jay@gmail.com   | Admin   |    45000 | 2022-01-15 09:00:00 |
+-------------+-------------+--------------+----------+-----------------+---------+----------+---------------------+

In [13]:
cursor.execute("drop table assignment.worker_dup")

In [14]:
cursor.close()
conn.close()