In [1]:
import mysql.connector

In [2]:
from tabulate import tabulate

In [3]:
conn = mysql.connector.connect(user='root',password='adi@1234',database='assignment')

In [4]:
cursor = conn.cursor()

In [5]:
cursor.execute("create table worker_dup as select * from workers")

In [6]:
query="""insert into assignment.worker_dup(worker_id, First_name, Last_name, Address, Email, Department, Salary, Joining_date)
values (9, "Vipul", "Verma", "Noida", "vipul@gmail.com", "IT", 50000, '22-04-10 09.00.00'),
(10, "Satish", "Yadav", "Gurugram", "satish@gmail.com","Admin", 40000, '22-01-15 09.00.00')"""

cursor.execute(query)

In [7]:
cursor.execute("select * from worker_dup")
result = cursor.fetchall()

print(tabulate(result,headers=['Worker_id', 'FirstName', 'SecondName', 'City', 'Email', 'Dept', 'Salary', 'JoiningDate'], tablefmt='psql'))

+-------------+-------------+--------------+----------+--------------------+---------+----------+---------------------+
|   Worker_id | FirstName   | SecondName   | City     | Email              | Dept    |   Salary | JoiningDate         |
|-------------+-------------+--------------+----------+--------------------+---------+----------+---------------------|
|           1 | Akash       | Malik        | Delhi    | akash123@gmail.com | HR      |    45000 | 2021-02-20 09:00:00 |
|           2 | Aka         | Ma           | Noida    | aka@gmail.com      | Admin   |    30000 | 2021-06-01 09:00:00 |
|           3 | Jay         | Singh        | Delhi    | jay@gmail.com      | Admin   |    45000 | 2022-01-15 09:00:00 |
|           4 | Ankita      | Jain         | Gurugram | anki@gmail.com     | Account |    40000 | 2022-02-20 09:00:00 |
|           5 | Pooja       | Patil        | Delhi    | pooja@gmail.com    | IT      |    40000 | 2022-02-01 09:00:00 |
|           6 | Anju        | Tomar        | Noida    | anju@gmail.com     | HR      |    45000 | 2022-04-10 09:00:00 |
|           7 | Kaira       | Singh        | Delhi    | kaira@gmail.com    | Account |    30000 | 2022-02-20 09:00:00 |
|           9 | Vipul       | Verma        | Noida    | vipul@gmail.com    | IT      |    50000 | 2022-04-10 09:00:00 |
|          10 | Satish      | Yadav        | Gurugram | satish@gmail.com   | Admin   |    40000 | 2022-01-15 09:00:00 |
+-------------+-------------+--------------+----------+--------------------+---------+----------+---------------------+

Q-1. Write an SQL query to print details of workers excluding first names, “Vipul” and “Satish” from Worker table.

In [8]:
cursor.execute("""select * from worker_dup where First_name not in ("Vipul", "Satish")""")
result = cursor.fetchall()

print(tabulate(result,headers=['Worker_id', 'FirstName', 'SecondName', 'City', 'Email', 'Dept', 'Salary', 'JoiningDate'], tablefmt='psql'))

+-------------+-------------+--------------+----------+--------------------+---------+----------+---------------------+
|   Worker_id | FirstName   | SecondName   | City     | Email              | Dept    |   Salary | JoiningDate         |
|-------------+-------------+--------------+----------+--------------------+---------+----------+---------------------|
|           1 | Akash       | Malik        | Delhi    | akash123@gmail.com | HR      |    45000 | 2021-02-20 09:00:00 |
|           2 | Aka         | Ma           | Noida    | aka@gmail.com      | Admin   |    30000 | 2021-06-01 09:00:00 |
|           3 | Jay         | Singh        | Delhi    | jay@gmail.com      | Admin   |    45000 | 2022-01-15 09:00:00 |
|           4 | Ankita      | Jain         | Gurugram | anki@gmail.com     | Account |    40000 | 2022-02-20 09:00:00 |
|           5 | Pooja       | Patil        | Delhi    | pooja@gmail.com    | IT      |    40000 | 2022-02-01 09:00:00 |
|           6 | Anju        | Tomar        | Noida    | anju@gmail.com     | HR      |    45000 | 2022-04-10 09:00:00 |
|           7 | Kaira       | Singh        | Delhi    | kaira@gmail.com    | Account |    30000 | 2022-02-20 09:00:00 |
+-------------+-------------+--------------+----------+--------------------+---------+----------+---------------------+

Q-2. Write an SQL query to print details of the Workers whose FIRST_NAME ends with ‘h’ and contains six alphabets.

In [9]:
cursor.execute("""select * from worker_dup where First_name like "_____h" """)
result = cursor.fetchall()

print(tabulate(result,headers=['Worker_id', 'FirstName', 'SecondName', 'City', 'Email', 'Dept', 'Salary', 'JoiningDate'], tablefmt='psql'))

+-------------+-------------+--------------+----------+------------------+--------+----------+---------------------+
|   Worker_id | FirstName   | SecondName   | City     | Email            | Dept   |   Salary | JoiningDate         |
|-------------+-------------+--------------+----------+------------------+--------+----------+---------------------|
|          10 | Satish      | Yadav        | Gurugram | satish@gmail.com | Admin  |    40000 | 2022-01-15 09:00:00 |
+-------------+-------------+--------------+----------+------------------+--------+----------+---------------------+

Q-3. Write a query to validate Email of Employee.

In [10]:
cursor.execute("""select * from worker_dup where email like "%@%" """)
result = cursor.fetchall()

print(tabulate(result,headers=['Worker_id', 'FirstName', 'SecondName', 'City', 'Email', 'Dept', 'Salary', 'JoiningDate'], tablefmt='psql'))

+-------------+-------------+--------------+----------+--------------------+---------+----------+---------------------+
|   Worker_id | FirstName   | SecondName   | City     | Email              | Dept    |   Salary | JoiningDate         |
|-------------+-------------+--------------+----------+--------------------+---------+----------+---------------------|
|           1 | Akash       | Malik        | Delhi    | akash123@gmail.com | HR      |    45000 | 2021-02-20 09:00:00 |
|           2 | Aka         | Ma           | Noida    | aka@gmail.com      | Admin   |    30000 | 2021-06-01 09:00:00 |
|           3 | Jay         | Singh        | Delhi    | jay@gmail.com      | Admin   |    45000 | 2022-01-15 09:00:00 |
|           4 | Ankita      | Jain         | Gurugram | anki@gmail.com     | Account |    40000 | 2022-02-20 09:00:00 |
|           5 | Pooja       | Patil        | Delhi    | pooja@gmail.com    | IT      |    40000 | 2022-02-01 09:00:00 |
|           6 | Anju        | Tomar        | Noida    | anju@gmail.com     | HR      |    45000 | 2022-04-10 09:00:00 |
|           7 | Kaira       | Singh        | Delhi    | kaira@gmail.com    | Account |    30000 | 2022-02-20 09:00:00 |
|           9 | Vipul       | Verma        | Noida    | vipul@gmail.com    | IT      |    50000 | 2022-04-10 09:00:00 |
|          10 | Satish      | Yadav        | Gurugram | satish@gmail.com   | Admin   |    40000 | 2022-01-15 09:00:00 |
+-------------+-------------+--------------+----------+--------------------+---------+----------+---------------------+

In [11]:
cursor.execute("drop table worker_dup")

In [12]:
cursor.close()
conn.close()