In [1]:
import mysql.connector

In [2]:
from tabulate import tabulate

In [3]:
conn = mysql.connector.connect(user='root', password='adi@1234', database='assignment')

In [4]:
cursor = conn.cursor()

In [5]:
cursor.execute("create table worker_dup as select * from workers")

Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side.

In [6]:
cursor.execute("select rtrim(First_name) from worker_dup")
result = cursor.fetchall()

print(tabulate(result, headers=['FirstName_without_right_space'], tablefmt='psql'))

+---------------------------------+
| FirstName_without_right_space   |
|---------------------------------|
| Akash                           |
| Aka                             |
| Jay                             |
| Ankita                          |
| Pooja                           |
| Anju                            |
| Kaira                           |
+---------------------------------+

Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length.

In [7]:
cursor.execute("select distinct length(Department), Department from worker_dup")
result = cursor.fetchall()

print(tabulate(result, headers=['length', 'Department'], tablefmt='psql'))

+----------+--------------+
|   length | Department   |
|----------+--------------|
|        2 | HR           |
|        5 | Admin        |
|        7 | Account      |
|        2 | IT           |
+----------+--------------+

Q-3. Write an SQL query to fetch nth max salaries from a table. (note: considering n=6)

In [8]:
cursor.execute("select * from worker_dup where salary = (select Salary from worker_dup order by Salary desc limit 5,1)")
result= cursor.fetchall()

print(tabulate(result, headers=['Worker_id', 'FirstName', 'SecondName', 'City', 'Email', 'Dept', 'Salary', 'JoiningDate'], tablefmt='psql'))

+-------------+-------------+--------------+--------+-----------------+---------+----------+---------------------+
|   Worker_id | FirstName   | SecondName   | City   | Email           | Dept    |   Salary | JoiningDate         |
|-------------+-------------+--------------+--------+-----------------+---------+----------+---------------------|
|           2 | Aka         | Ma           | Noida  | aka@gmail.com   | Admin   |    30000 | 2021-06-01 09:00:00 |
|           7 | Kaira       | Singh        | Delhi  | kaira@gmail.com | Account |    30000 | 2022-02-20 09:00:00 |
+-------------+-------------+--------------+--------+-----------------+---------+----------+---------------------+

In [9]:
cursor.execute("drop table worker_dup")

In [10]:
cursor.close()
conn.close()